bin/
/KENNY*/
/backup.ab
/backup.tar
/KakaoTalk.apk
/KakaoTalk.db
/KakaoTalk.perferences.xml
/KakaoTalk_analyzed.xlsx
/KakaoTalk_decrypted.csv
/KakaoTalk_dump.csv
/KakaoTalk2.db
/KakaoTalk2_decrypted.csv
/KakaoTalk2_dump.csv
